/* Google Fonts Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#f3f0ff, #dacdff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbot-popup {
  width: 420px;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48ox rgba(0, 0, 0, 0.5);
}
.chatbot-popup .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 22px;
  background: #6d4fc2;
  color: #fff;
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  border-radius: 50%;
  background: #fff;
  fill: #6d4fc2;
}
