/* Google Fonts Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#f3f0ff, #dacdff);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
#chatbot-toggle {
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #6d4fc2;
  align-items: center;
  justify-content: center;
}

#chatbot-toggle span {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  bottom: 11px;
  right: 12px;
}

.chatbot-popup {
  position: fixed;
  bottom: 90px;
  right: 35px;
  width: 420px;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48ox rgba(0, 0, 0, 0.5);
  /* position: relative; */
  transform: scale(0.2);
  transform-origin: bottom right;
  transition: all 0.1s ease;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.container.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out;
  transform: scale(1);
}

#chatbot-toggle span:last-child {
  opacity: 0;
}

.container.show-chatbot #chatbot-toggle span:first-child {
  opacity: 0;
}

.container.show-chatbot #chatbot-toggle span:last-child {
  opacity: 1;
  bottom: 14px;
}

.container.show-chatbot #chatbot-toggle {
  transform: rotate(90deg);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
.chatbot-popup .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 22px;
  background: #6d4fc2;
  color: #fff;
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  border-radius: 50%;
  background: #fff;
  fill: #6d4fc2;
  flex-shrink: 0;
}

.header-info .logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.9rem;
  padding-left: 2px;
  border-radius: 50%;
  margin-right: -10px;
  background: none;
  transition: 0.2s ease;
}

.chat-header button:hover {
  /* background: "black"; */
  background: #593bab;
}

.chat-body {
  height: 460px;
  overflow-y: auto;
  padding: 25px 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 82px;
  scrollbar-width: thin;
  scrollbar-color: #ddd3f9 transparent;
}

.chat-body .message {
  display: flex;
  align-items: center;
  gap: 11px;
}

.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  border-radius: 50%;
  background: #6d4fc2;
  fill: #fff;
  flex-shrink: 0;
  margin-bottom: 2px;
  align-self: flex-end;
}

.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}

.chat-body .bot-message .message-text {
  /* padding: 12px 16px; */
  max-width: 75%;
  background: #f6f2ff;
  border-radius: 13px;
}

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .user-message .message-text {
  /* padding: 12px 16px; */
  /* max-width: 75%; */
  color: #fff;
  background: #6d4fc2;
  border-radius: 13px 13px 3px 13px;
}

.chat-footer {
  position: absolute;
  bottom: 20px;
  width: 90%;
  background: #fff;
  margin: 0px auto 0px;
  /* z-index: 10; */
}

.chat-footer .chat-form {
  display: flex;
  /* background: red; */
  background: #fff;
  align-items: center;
  outline: 1px solid #cccce5;
  border-radius: 30px;
  box-shadow: 0px 0 8px 0 rgba(0, 0, 0, 0.06);
}
.chat-footer .chat-form:focus-within {
  outline: 1px solid #6d4fc2;
}

.chat-form .message-input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 0.95rem;
  color: #000;
}

.chat-form button {
  display: none;
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.15rem;
  padding-left: 2px;
  border-radius: 50%;
  margin-right: 8px;
  background: #6d4fc2;
  transition: background-color 0.2s ease;
}

.chat-form button:hover {
  background: #593bab;
}

.chat-form .message-input:valid + button {
  display: block;
}

/* @media screen and (max-width: 520px) {
  .chat-body {
    height: 350px;
  }
  .chat-footer {
    bottom: 10px;
  }
  .chat-footer .chat-form {
    width: 95%;
  }
} */

@media screen and (max-width: 520px) {
  #chatbot-toggle {
    right: 20px;
    bottom: 20px;
  }
  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
  }
  .chatbot-popup .chat-header {
    padding: 15px;
    /* justify-content: center; */
  }
  .chat-body {
    height: calc(90vh - 5vh);
    padding: 25px 15px;
  }
  .chat-footer {
    padding: 0px 15px 15px;
  }
}
